body {
    margin: 0;
}
.container {
    margin-bottom: 100px;
}
.carousel {
    padding: 20px 40px;
}
.bg-custom {
    background-color: #FEEAE9;
    border-radius: 8px;
}
header button, .card-deck button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 25px;
    cursor: pointer;
    margin-top: 20px;
}
.price-tag {
    color: #FF136F;
}

/* Categories Section */

.categories h1 {
    color: #FFFFFF;
}
.categories img {
    width: 100px;
}
.cat1, .cat2, .cat3 {
    border-radius: 10px;
    padding: 20px;
}
.cat1 {
    background-image: linear-gradient(to right, #F3C81A, #EF932E);
}
.cat2 {
    background-image: linear-gradient(to right, #ED468A, #E81965);
}
.cat3 {
    background-image: linear-gradient(to right, #4277FF, #3811F7);
}
/* .cat1:hover {
    background-image: linear-gradient(to right, #EF932E, #F3C81A);
}
.cat2:hover {
    background-image: linear-gradient(to right, #E81965, #ED468A);
}
.cat3:hover {
    background-image: linear-gradient(to left, #4277FF, #3811F7);
} */

/* Shoe Section */

.shoes h2 {
    margin-bottom: 20px;
}
.card-deck button:hover {
    background-image: linear-gradient(to bottom, #FF136F 0%, #FF589B 100%);
    color: white;
}
.card img:hover {
    cursor: pointer;
}
.card-deck .card {
    transition: all 0.3s ease;
    border-radius: 10px;
}
.card-deck .card:hover {
    box-shadow: 0 0 20px #cccccc;
}

/* Backpack Section */

.backpack h2 {
    margin-bottom: 20px;
}
.backpack .card-footer {
    border: none;
    background-color: transparent;
}